@model IEnumerable<WebApplication1.Models.empresas>

@{
    ViewBag.Title = "Index";
}

<div class="row col-md-12 container_center title-basic">
    <h1>Listado de Empresas</h1>
</div>


<p>
    @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = " btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.razonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correoElectronico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.razonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correoElectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id, @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.id, @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id, @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
